# macOS
.DS_Store
.AppleDouble
.LSOverride

# custom
scratch/
*.dat
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so

# Cython-generated C files
grow2d/src/grow2d.c

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.venv/
venv/

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
